@using Web.ViewModels
@model BlogViewModel

<div class="container-fluid px-4">
    <div class="card mb-4 mt-5">
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>BlogId</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Language</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>BlogId</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Language</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.BlogLanguages)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.BlogId</td>
                            <td>
                                <img src="@item.Blog.PhotoUrl" width="200" />
                            </td>
                            <td>@item.Title</td>
                            <td>@item.Content</td>
                            <td>@item.Language</td>
                            <td><a href="/admin/editblog/@item.Blog.Id" class="btn btn-warning">Edit</a></td>
                            <td><a href="/admin/deleteblog/@item.Blog.Id" class="btn btn-outline-danger">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <a class="btn btn-primary bgupdate" asp-controller="Admin" asp-action="CreateBlog" id="myBtnAdd"><i class='fas fa-download'></i>Create New Blog</a>
    </div>
</div>